<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body>
<nav th:replace="fragments.html :: main-nav"></nav>
<div th:replace="fragments.html :: study-banner"></div>
<div class="container">
    <div class="row py-4 text-left justify-content-center bg-light">
        <div class="col-6">
                <span class="h2">
                <a href="#" class="text-decoration-none" th:href="@{'/study/' + ${study.path}}">
                    <span th:text="${study.title}">스터디 이름</span>
                </a> / </span>
            <span class="h2" th:text="${event.title}"></span>
        </div>
        <div class="col-4 text-right justify-content-end">
                <span sec:authorize="isAuthenticated()">
                    <button th:if="${event.isEnrollableFor(#authentication.principal)}"
                            class="btn btn-outline-primary" data-toggle="modal" data-target="#enroll">
                        <i class="fa fa-plus-circle"></i> 참가 신청
                    </button>
                    <button th:if="${event.isDisenrollableFor(#authentication.principal)}"
                            class="btn btn-outline-primary" data-toggle="modal" data-target="#disenroll">
                        <i class="fa fa-minus-circle"></i> 참가 신청 취소
                    </button>
                    <span class="text-success" th:if="${event.isAttended(#authentication.principal)}" disabled>
                        <i class="fa fa-check-circle"></i> 참석 완료
                    </span>
                </span>
        </div>
        <div class="modal fade" id="disenroll" tabindex="-1" role="dialog" aria-labelledby="leaveTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="leaveTitle" th:text="${event.title}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>모임 참가 신청을 취소하시겠습니까?</p>
                        <p><strong>확인</strong>하시면 본 참가 신청을 취소하고 다른 대기자에게 참석 기회를 줍니다.</p>
                        <p>감사합니다.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <form th:action="@{'/study/' + ${study.path} + '/events/' + ${event.id} + '/disenroll'}" method="post">
                            <button class="btn btn-primary" type="submit" aria-describedby="submitHelp">확인</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="enroll" tabindex="-1" role="dialog" aria-labelledby="enrollmentTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="enrollmentTitle" th:text="${event.title}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>모임에 참석하시겠습니까? 일정을 캘린더에 등록해 두시면 좋습니다.</p>
                        <p><strong>확인</strong> 버튼을 클릭하면 모임 참가 신청을 합니다.</p>
                        <p>감사합니다.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <form th:action="@{'/study/' + ${study.path} + '/events/' + ${event.id} + '/enroll'}" method="post">
                            <button class="btn btn-primary" type="submit" aria-describedby="submitHelp">확인</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row px-3 justify-content-center">
        <div class="col-7 pt-3 mr-3">
            <div class="row mb-5 bg-white rounded" style="border: 1px solid rgba(0,0,0,.125)">
                <div class="px-3 py-3" th:utext="${event.description}">상세 설명</div>
            </div>

            <div class="row">
                <h5>모임 참가 신청 현황 (<span th:text="${enrollments.size()}">0</span>)</h5>

                <table th:if="${enrollments.size() > 0}" class="table text-center">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">사용자</th>
                        <th scope="col">참가 신청 날짜</th>
                        <th scope="col">접수 상태</th>
                        <th scope="col" th:if="${study.isManager(#authentication.principal) &&
                                event.eventType == T(com.studyolleh.modules.event.domain.EventType).CONFIRMATIVE}">
                            참가 신청 관리
                        </th>
                        <th th:if="${study.isManager(#authentication.principal)}" scope="col">
                            출석 관리
                        </th>
                        <th th:if="${study.isMember(#authentication.principal)}" scope="col">
                            출석
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="enroll: ${enrollments}">
                        <th scope="row" th:text="${enrollStat.count}"></th>
                        <td>
                            <a th:href="@{'/profile/' + ${enroll.account.nickname}}" class="text-decoration-none">
                                <svg th:if="${#strings.isEmpty(enroll.account?.profileImage)}"
                                     th:data-jdenticon-value="${enroll.account.nickname}"
                                     width="24" height="24" class="rounded border bg-light"></svg>
                                <img th:if="${!#strings.isEmpty(enroll.account?.profileImage)}"
                                     th:src="${enroll.account?.profileImage}"
                                     width="24" height="24" class="rounded border">
                                <span th:text="${enroll.account.nickname}"></span>
                            </a>
                        </td>
                        <td>
                            <span class="date-time" th:text="${enroll.enrolledAt}"></span>
                        </td>
                        <td>
                            <span class="font-weight-bold" th:if="${enroll.accepted}">확정</span>
                            <span class="font-weight-light" th:if="${!enroll.accepted}">대기중</span>
                        </td>
                        <td th:if="${study.isManager(#authentication.principal) &&
                                event.eventType == T(com.studyolleh.modules.event.domain.EventType).CONFIRMATIVE} ">
                            <!-- TODO : URL controller should be implemented-->
                            <a th:if="${event.canAccept(enroll)}" class="btn btn-success"
                               th:href="@{'/study/' + ${study.path} + '/events/' + ${event.id} + '/enrollments/' + ${enroll.id} + '/accept'}">
                                신청 수락
                            </a>
                            <a th:if="${event.canReject(enroll)}" class="btn btn-warning"
                               th:href="@{'/study/' + ${study.path} + '/events/' + ${event.id} + '/enrollments/' + ${enroll.id} + '/reject'}">
                                취소
                            </a>
                        </td>
                        <td th:if="${study.isManager(#authentication.principal)}">
                            <a th:if="${event.isStarted() && enroll.accepted && !enroll.attended}" class="btn btn-success"
                               th:href="@{'/study/' + ${study.path} + '/events/' + ${event.id} + '/enrollments/' + ${enroll.id} + '/checkin'}">
                                체크인
                            </a>
                            <a th:if="${event.isStarted() && enroll.accepted && enroll.attended}" class="btn btn-warning"
                               th:href="@{'/study/' + ${study.path} + '/events/' + ${event.id} + '/enrollments/' + ${enroll.id} + '/cancel-checkin'}">
                                취소
                            </a>
                        </td>
                        <td th:if="${study.isMember(#authentication.principal)}">
                                <span class="text-success" th:if="${event.isStarted() && event.isAttended(#authentication.principal)}">
                                    <i class="fa fa-check-circle"></i> 참석 완료
                                </span>
                            <span class="text-danger" th:if="${event.isStarted() && !event.isAttended(#authentication.principal)}">
                                    <i class="fa fa-user-times"></i> 불참
                                </span>
                            <span class="text-info" th:if="${!event.isStarted()}">
                                    <i class="fa fa-ban"></i> 모임 시작 전
                                </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="col-3 pt-3 px-3">
            <div class="card">
                <div class="card-header text-center text-white bg-info">
                    <i class="fa fa-info-circle"></i> 모임 정보
                </div>

                <div class="card-body">
                    <div class="row px-2 d-flex align-items-end flex-column">
                        <div class="badge badge-secondary text-wrap mb-1">모집 방법</div>
                        <div class="text-right">
                            <span th:if="${event.eventType == T(com.studyolleh.modules.event.domain.EventType).FCFS}">
                                선착순
                            </span>
                            <span th:if="${event.eventType == T(com.studyolleh.modules.event.domain.EventType).CONFIRMATIVE}">
                                관리자 확인
                            </span>
                        </div>
                    </div>

                    <div class="dropdown-divider"></div>

                    <div class="row px-2 d-flex align-items-end flex-column">
                        <div class="badge badge-secondary text-wrap mb-1">모집 인원</div>
                        <div>
                            <span th:text="${event.limitOfEnrollments}">0</span> 명
                        </div>
                    </div>

                    <div class="dropdown-divider"></div>

                    <div class="row px-2 d-flex align-items-end flex-column">
                        <div class="badge badge-secondary text-wrap mb-1">참가 신청 마감</div>
                        <div>
                            <i class="fa fa-hourglass-end"></i>
                            <span class="date-weekday-time" th:text="${event.endEnrollmentDateTime}"></span>
                        </div>
                    </div>

                    <div class="dropdown-divider"></div>

                    <div class="row px-2 d-flex align-items-end flex-column">
                        <div class="badge badge-secondary text-wrap mb-1">모임 시작</div>
                        <div>
                            <i class="fa fa-calendar"></i>
                            <span class="date-weekday-time" th:text="${event.startDateTime}"></span>
                        </div>
                    </div>

                    <div class="dropdown-divider"></div>

                    <div class="row px-2 d-flex align-items-end flex-column">
                        <div class="badge badge-secondary text-wrap mb-1">모임 종료</div>
                        <div>
                            <i class="fa fa-calendar"></i>
                            <span class="date-weekday-time" th:text="${event.endDateTime}"></span>
                        </div>
                    </div>

                    <div class="dropdown-divider"></div>

                    <div class="row px-2 d-flex align-items-end flex-column">
                        <div class="badge badge-secondary text-wrap mb-1">모임 관리자</div>
                        <div>
                            <a th:href="@{'/profile/' + ${event.createdBy?.nickname}}" class="text-decoration-none">
                                <svg th:if="${#strings.isEmpty(event.createdBy?.profileImage)}"
                                     th:data-jdenticon-value="${event.createdBy?.nickname}"
                                     width="24" height="24" class="rounded border bg-light"></svg>
                                <img th:if="${!#strings.isEmpty(event.createdBy?.profileImage)}"
                                     th:src="${event.createdBy?.profileImage}"
                                     width="24" height="24" class="rounded border">
                                <span th:text="${event.createdBy?.nickname}">모임 관리자</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</div>
<script th:replace="fragments.html :: date-time"></script>
</body>
</html>